<nav class="bg-blue-500 p-4 text-white flex justify-between">
  <a routerLink="" class="text-lg font-bold">Zentro-FE</a>
  <div>
    <a routerLink="/groups" routerLinkActive="active" class="mx-2">Groups</a>
    @if (!this.authService.isLoggedIn()()) {
    <a routerLink="/login" routerLinkActive="active" class="mx-2">Login</a>
    <a routerLink="/register" routerLinkActive="active" class="mx-2">Register</a>
    } @else {
    <!-- create an account button that shows a menu with two options profile and logout -->
    <button class="mx-2" (click)="toggleMenu()">Account ▼</button>
    @if (showAccountMenu) {
    <div class="absolute right-0 bg-white text-black mt-2 p-2 rounded shadow-lg z-10">
      <a routerLink="/profile" class="block px-4 py-2 hover:bg-gray-200">Profile</a>
      <a (click)="logout()" class="block px-4 py-2 hover:bg-gray-200 cursor-pointer">Logout</a>
    </div>
    } }
  </div>
</nav>

<main class="p-4">
  <router-outlet></router-outlet>
</main>
